<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="projectMapper">

	<!-- 진행중, 완료된 조별과제 검색결과 담을 resultMap -->
	<resultMap type="projectDTO" id="selectProjectMap2">
		<id column="project_no" property="projectNo"/>		
		<result column="project_name" property="projectName"/>		
		<result column="project_startdate" property="projectStartdate"/>		
		<result column="project_enddate" property="projectEnddate"/>		
		<result column="project_subject" property="projectSubject"/>		
		<result column="project_teacher" property="projectTeacher"/>		
		<result column="project_state" property="projectState"/>		
		<collection property="projectUserDTOs" ofType="projectUserDTO">
			<id column="project_user_no" property="projectUserNo"/>
			<result column="project_user_role" property="projectUserRole"/>
		</collection>
	</resultMap>
	
	<!-- 팀원의 정보를 담을 resultMap -->
	<resultMap type="userDTO" id="selectProjectUsersMap">
		<id column="user_no" property="userNo"/>
		<result column="user_id" property="userId"/>
		<result column="user_name" property="userName"/>
		<result column="user_school" property="userSchool"/>
		<result column="user_major" property="userMajor"/>
		<association property="projectuserRole" javaType="projectUserDTO">
			<id column="project_user_no" property="projectUserNo"/>
			<result column="project_user_role" property="projectUserRole"/>
			<result column="project_user_task" property="projectUserTask"/>
		</association>
	</resultMap>


	<!-- 새로운 조별과제방 삽입 -->
	<insert id="insertProject" parameterType="projectDTO">
		INSERT INTO project(project_no,project_name,project_startdate,project_enddate,project_subject,project_teacher,project_state)
		VALUES(seq_project_no.nextval, #{projectName}, #{projectStartdate}, #{projectEnddate}, #{projectSubject}, #{projectTeacher}, 0)
	</insert>

	<!-- 방금 생성된 프로젝트번호 검색 -->
	<select id="selectProjectNo" resultType="int">
		SELECT max(project_no)
		FROM project
	</select>

	<!-- 팀플방에 조장등록 -->
	<insert id="insertProjectLeader" parameterType="projectUserDTO">
		INSERT INTO project_user(project_user_no,project_no,user_no,project_user_role)
		VALUES(seq_project_user_no.nextval, #{projectNo}, #{userNo}, '조장')
	</insert>
	
	<!-- 초대된 user들의 id를 갖고 userno을 검색 -->
	<select id="selectUserNoById" parameterType="list" resultType="int">
		SELECT user_no
		FROM ant_user
		WHERE USER_ID IN 
		<foreach collection="list" item="invitedUserId" open="(" separator="," close=")">
			#{invitedUserId}
		</foreach>
	</select>
		
	<!-- 팀플방에 조원등록 -->
	<insert id="insertProjectMember" parameterType="projectUserDTO">
		INSERT INTO project_user(project_user_no,project_no,user_no,project_user_role)
		VALUES(seq_project_user_no.nextval, #{projectNo}, (SELECT user_no FROM ant_user WHERE user_id=#{userId}), '조원')
	</insert>
	
	
	<!-- 진행중, 완료된 조별과제 검색 -->
	<select id="selectProjectById" parameterType="map" resultMap="selectProjectMap2">
		SELECT p.project_no, p.project_name,p.project_startdate,p.project_enddate,p.project_subject,p.project_state,pu.project_user_role
		FROM project p JOIN project_user pu
		ON p.project_no = pu.project_no
		WHERE pu.user_no=#{userNo} AND p.project_state=#{projectState}
		ORDER BY project_no
	</select>
	
	<!-- 프로젝트 정보 검색 -->
	<select id="selectProject" parameterType="int" resultMap="selectProjectMap2">
		SELECT project_no, project_name, project_startdate, project_enddate, project_subject, project_teacher, project_state
		FROM project
		WHERE project_no=#{_parameter}
	</select>
	
	<!-- 프로젝트 정보 수정 -->
	<update id="updateTeamInfo" parameterType="projectDTO">
		UPDATE project
		SET project_name=#{projectName}, project_startdate=#{projectStartdate}, project_enddate=#{projectEnddate}, project_subject=#{projectSubject}, project_teacher=#{projectTeacher}, project_state=#{projectState}
		WHERE project_no=#{projectNo}
	</update>
	
	<!-- 팀원 정보 검색 -->
	<select id="selectProjectUsers" parameterType="int" resultMap="selectProjectUsersMap">
		SELECT a.user_no, a.user_id, a.user_name, a.user_school, a.user_major, pu.project_user_role, pu.project_user_task
		FROM project_user pu, ant_user a
		WHERE pu.user_no=a.user_no and pu.project_no=#{_parameter}
	</select>
	
	<!-- 팀원정보중 맡은임무 수정 -->
	<update id="updateProjectUserTask" parameterType="projectUserDTO">
		UPDATE project_user
		SET project_user_task=#{projectUserTask}
		WHERE user_no=#{userNo} and project_no=#{projectNo}
	</update>
	
	<!-- 팀원 삭제 -->
	<delete id="deleteProjectUser" parameterType="ProjectUserDTO">
		DELETE FROM project_user
		WHERE user_no=#{userNo} and project_no=#{projectNo}
	</delete>
	
	<!-- 내가 조장,조원인지 검색 -->
	<select id="selectProjectUserRole" parameterType="projectUserDTO" resultType="string">
		SELECT project_user_role
		FROM project_user 
		WHERE project_no=#{projectNo} and user_no=#{userNo}
	</select>
	
	<!-- projectEnddate가 현재날짜일때 projectState변경 -->
	<update id="updateProjectState" parameterType="int">
	UPDATE project
	SET project_state=1
	WHERE project_no in (SELECT p.project_no
	                     FROM project p JOIN project_user pu
	                     ON p.project_no = pu.project_no
	                     <![CDATA[ 
	                     WHERE pu.user_no=#{userNo} AND p.project_state=0 AND to_char(project_enddate) <= to_char(sysdate))
	                     ]]>
	</update>

	<!-- state가 1인 project를 호출 -->
	<select id="selectIfProjectState1" resultMap="selectProjectMap2">
		SELECT p.project_no
		FROM project p JOIN project_user pu
		ON p.project_no = pu.project_no
		WHERE p.project_state = 1 AND pu.user_no = #{_parameter}
	</select>
	
	<!-- 쪽지함 안읽은 수 badge -->
	<select id="selectUnchkMessage" parameterType="int" resultType="int">
		SELECT count(message_no)
		FROM message
		WHERE user_no_message_receiver=#{_parameter} AND message_receivetime IS NULL
	</select>

	<!-- state가 2인 project를 호출 -->
	<select id="selectIfProjectState2" resultMap="selectProjectMap2">
		SELECT project_no	
		FROM project
		WHERE p.project_state = 2
	</select>
	
	<select id="selectUserByUserNo" resultMap="selectProjectUsersMap">
		SELECT *
		FROM ant_user
		WHERE user_no = #{_parameter}
	</select>
	
</mapper>