<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="voteMapper">

	<resultMap type="voteDTO" id="voteDTOMap">
		<id column="vote_no" property="voteNo" />
		<result column="user_no" property="userNo" />
		<result column="project_no" property="projectNo" />
		<result column="vote_title" property="voteTitle" />
		<result column="vote_adddate" property="voteAddDate" />
		<result column="vote_enddate" property="voteEndDate" />
		<result column="vote_state" property="voteState" />
	</resultMap>

	<resultMap type="voteDetailDTO" id="voteDetailDTOMap">
		<id column="vote_detail_no" property="voteDetailNo" />
		<result column="vote_no" property="voteNo" />
		<result column="vote_detail_column" property="voteDetailColumn" />
	</resultMap>
	
	<resultMap type="voteSelectorDTO" id="voteSelectorDTOMap">
		<id column="vote_selector_no" property="voteSelectorNo" />
		<result column="user_no" property="userNo" />
		<result column="vote_detail_no" property="voteDetailNo" />
	</resultMap>

	<resultMap type="voteDTO" id="collectionVoteMap">
		<id column="vote_no" property="voteNo" />
		<result column="user_no" property="userNo" />
		<result column="project_no" property="projectNo" />
		<result column="vote_title" property="voteTitle" />
		<result column="vote_adddate" property="voteAddDate" />
		<result column="vote_enddate" property="voteEndDate" />
		<result column="vote_state" property="voteState" />
		<collection property="details" ofType="voteDetailDTO">
			<id column="vote_detail_no" property="voteDetailNo" />
			<result column="vote_no" property="voteNo" />
			<result column="vote_detail_column" property="voteDetailColumn" />
		</collection>
	</resultMap>
	
	<resultMap type="voteDetailDTO" id="collectionVoteDetailMap">
		<id column="vote_detail_no" property="voteDetailNo" />
		<result column="vote_no" property="voteNo" />
		<result column="vote_detail_column" property="voteDetailColumn" />
		<collection property="selectors" ofType="voteSelectorDTO">
			<id column="vote_selector_no" property="voteSelectorNo" />
			<result column="user_no" property="userNo" />
			<result column="vote_detail_no" property="voteDetailNo" />
		</collection>
	</resultMap>
	
	<!-- 
		투표목록을 가져오는 쿼리문
		parameter 0 : 미참여 / 1 : 참여 
	  -->
	<select id="voteSelect" parameterType="int" resultMap="voteDTOMap">
		select vote_no, project_no, vote_title, vote_adddate, vote_enddate, vote_state
		from vote 
		where vote_state = #{voteState}
		AND project_no = #{projectNo} order by vote_no
	</select>

	<!--
		투표목록을 가져오는 쿼리문
		parameter 0 : 미참여 / 1 : 참여 
	  -->
	<update id="voteDateUpdate">
		UPDATE vote 
		SET vote_state = 1
		WHERE vote_enddate != null AND vote_adddate > vote_enddate 
	</update>

	<!--
		해당 투표목록에 해당하는 컬럼을 가져오는 쿼리문
	-->
	<select id="voteSelectByVoteNo" parameterType="int" resultMap="collectionVoteMap">
		SELECT v.vote_no, v.vote_title, d.vote_detail_no, d.vote_detail_column, v.user_no, v.vote_state, v.vote_enddate
		FROM vote v JOIN
		vote_detail d
		ON v.vote_no = #{_parameter}
		AND v.vote_no = d.vote_no
		ORDER BY v.vote_no, d.vote_detail_no
	</select>


	<!--
		생성된 투표의 최대 숫자를 가져오는 쿼리문
		(Vote를 생성과정에서, 항목(DetailDTO)를 같이 생성할 때 사용 
	-->
	<select id="voteMaxNo" resultType="int">
		select max(vote_no) from vote
	</select>

	<!--
		해당 투표에 참여한 사람의 수를 구하는 쿼리문 
	-->


	<!--
		해당 유저가 투표에 참여했는지 안했는지 여부를 확인하는 쿼리문
	-->
	<select id="voteSelectCheck" parameterType="map" resultMap="collectionVoteDetailMap">
		SELECT d.vote_detail_no, d.vote_no, s.user_no, s.vote_selector_no, d.vote_detail_column
		FROM vote_detail d JOIN vote_selector s 
		ON d.vote_detail_no = s.vote_detail_no 
		AND d.vote_no = #{voteNo} 
		AND s.user_no = #{userNo} 
	</select>

	<!--
		투표를 생성하는 쿼리문
	-->
	<insert id="voteInsert" parameterType="VoteDTO">
		insert into vote 
		values(seq_vote_no.nextval, #{userNo}, #{projectNo}, #{voteTitle}, to_date(#{voteAddDate}, 'mm/dd/yyyy'), to_date(#{voteEndDate}, 'mm/dd/yyyy'), #{voteState})
	</insert>

	<!--
		투표 항목을 생성하는 쿼리문
	-->
	<insert id="voteDetailInsert" parameterType="VoteDetailDTO">
		insert into
		vote_detail
		values(seq_vote_detail_no.nextval, #{voteNo}, #{voteDetailColumn})
	</insert>
	
	<!--
		해당 투표에대한 참여수를 가져오는 쿼리문
	-->
	<select id="voteAllCount" parameterType="int" resultType="int">
		SELECT count(s.vote_selector_no)
		FROM vote_detail d JOIN vote_selector s 
		ON d.vote_detail_no = s.vote_detail_no 
		AND d.vote_no = #{voteNo} 
	</select>
	
	<!--
		해당 항목에 투표한 사람수를 가져오는 쿼리문
	-->
	<select id="voteDetailSelect" parameterType="map" resultMap="collectionVoteDetailMap">
		SELECT d.vote_detail_no, d.vote_no, s.vote_selector_no
		FROM vote_detail d JOIN vote_selector s 
		ON d.vote_detail_no = s.vote_detail_no 
		AND d.vote_no = #{voteNo} 
		AND d.vote_detail_no = #{voteDetailNo}
	</select>
	
	<!--
		투표 항목을 선택한 사람을 추가하는 쿼리문
	-->
	<insert id="voteSelectorInsert" parameterType="voteSelectorDTO">
		insert into vote_selector
		values(seq_vote_selector_no.nextval, #{userNo}, #{voteDetailNo})
	</insert>
	
	<!--
		특정대상이 선택한 투표 항목을 바꾸는 수정 쿼리문
	-->
	<update id="voteSelectorUpdate" parameterType="voteSelectorDTO">
		update vote_selector
		set vote_detail_no = #{voteDetailNo}
		where vote_selector_no = #{voteSelectorNo}
	</update>
	
	<!--
		글쓴이가 본인이 쓴 투표를 종료시키는 쿼리문
	-->
	<update id="voteEndUpdate" parameterType="map">
		update vote 
		set vote_state = 1, vote_enddate = sysdate
		where
		vote_no = #{voteNo}
		and user_no = #{userNo}
	</update>
	
	<!--
		투표 항목을 삭제하는 쿼리문
	-->
	<delete id="voteDelete" parameterType="int">
		delete from vote where vote_no = #{_parameter}
	</delete>

	<!--
		투표 항목을 수정(항목추가)하는 쿼리문
	-->
	<insert id="voteAddColumn" parameterType="voteDetailDTO">
		INSERT INTO vote_detail
		VALUES(seq_vote_detail_no.nextval, #{vote_no}, #{vote_detail_column});
	</insert>
	
	<select id="selectVote" resultMap="voteDTOMap">
		SELECT *
		FROM vote
		WHERE vote_no = #{_parameter}
	</select>
	
	<select id="selectLastVote" parameterType="int" resultMap="voteDTOMap">
		SELECT MAX(vote_no)
		FROM vote
		WHERE project_no = #{_parameter}
	</select>
	
</mapper>