<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="surveyMapper">

<!-- <result column="" property="" /> -->

	<resultMap type="surveyDTO" id="surveyDTOMap">
	<id column="survey_no" property="surveyNo" />
	<result column="project_no" property="projectNo" />
	<result column="survey_strartdate" property="surveyStartDate" />
	<result column="survey_enddate" property="surveyEndDate" />
	<result column="survey_state" property="surveyState" />
	</resultMap>
	
	<resultMap type="surveyUserDTO" id="surveyUserDTOMap">
	<id column="survey_user_no" property="surveyUserNo" />
	<result column="survey_no" property="surveyNo" />
	<result column="user_no" property="userNo" />
	<result column="survey_user_state" property="surveyUserState" />
	</resultMap>
	
	<resultMap type="surveyDetailDTO" id="surveyDetailDTOMap">
	<id column="survey_detail_no" property="surveyDetailNo" />
	<result column="survey_no" property="surveyNo" />
	<result column="survey_user_no" property="surveyUserNo" />
	<result column="survey_detail_username" property="surveyDetailUserName" />
	<result column="survey_detail_userscore" property="surveyDetailUserScore" />
	</resultMap>
	
	<resultMap type="surveyDTO" id="surveyDTOCollection">
	<id column="survey_no" property="surveyNo" />
	<result column="project_no" property="projectNo" />
	<result column="survey_strartdate" property="surveyStartDate" />
	<result column="survey_enddate" property="surveyEndDate" />
	<result column="survey_state" property="surveyState" />
	<collection property="surveyUsers" ofType="surveyUserDTO">
		<id column="survey_user_no" property="surveyUserNo" />
		<result column="survey_no" property="surveyNo" />
		<result column="user_no" property="userNo" />
		<result column="survey_user_state" property="surveyUserState" />
	</collection>
	</resultMap>
	
	<resultMap type="surveyUserDTO" id="surveyUserDTOCollection">
	<id column="survey_user_no" property="surveyUserNo" />
	<result column="survey_no" property="surveyNo" />
	<result column="user_no" property="userNo" />
	<result column="survey_user_state" property="surveyUserState" />
	<collection property="surveyDetails" ofType="surveyDetailDTO">
		<id column="survey_detail_no" property="surveyDetailNo" />
		<result column="survey_no" property="surveyNo" />
		<result column="survey_user_no" property="surveyUserNo" />
		<result column="survey_detail_username" property="surveyDetailUserName" />
		<result column="survey_detail_userscore" property="surveyDetailUserScore" />
	</collection>
	</resultMap>
	
	<!-- <select id="surveySelectByProjectNo" parameterType="" resultMap="">
		selec
	</select> -->
	
	<insert id="surveyCreate" parameterType="surveyDTO">
		INSERT INTO survey
		VALUES(seq_survey_no.nextval, #{projectNo}, to_date(#{surveyStartDate}, 'mm/dd/yyyy'), to_date(#{surveyEndDate}, 'mm/dd/yyyy'), #{surveyState})
	</insert>
	
	<update id="surveyUpdate" parameterType="int">
		UPDATE survey
		SET survey_state = 1
		WHERE project_no = #{_parameter}
	</update>
	
	<insert id="surveyUserCreate" parameterType="surveyUserDTO">
		INSERT INTO survey_user
		VALUES(seq_survey_user_no.nextval, #{surveyNo}, #{userNo}, #{surveyUserState})
	</insert>
	
	<update id="surveyUserUpdate" parameterType="map">
		UPDATE survey_user
		SET survey_user_state = 1
		WHERE survey_no = #{surveyNo} AND user_no = #{userNo}
	</update>
	
	<insert id="surveyDetailCreate" parameterType="surveyDetailDTO">
		INSERT INTO survey_detail(survey_detail_no, survey_no, survey_user_no, survey_detail_username, survey_detail_userscore)
		VALUES(seq_survey_detail_no.nextval, #{surveyNo}, #{surveyUserNo}, #{surveyDetailUserName}, #{surveyDetailUserScore})
	</insert>
	
	<select id="surveySelect1" parameterType="int" resultMap="surveyDTOMap">
		SELECT *
		FROM survey
		WHERE project_no = #{_parameter}
	</select>
	
	<select id="surveySelect2" parameterType="int" resultMap="surveyDTOCollection">
		SELECT s.survey_no, s.project_no, s.survey_startdate, s.survey_enddate, s.survey_state, su.survey_user_no, su.survey_no, su.user_no, su.survey_user_state
		FROM survey s JOIN survey_user su
		ON s.survey_no = su.survey_no
		AND project_no = #{_parameter}
	</select>
	
	<select id="surveyUserSelect" parameterType="map" resultMap="surveyUserDTOMap">
		SELECT *
		FROM survey_user
		<where>
		survey_no = #{surveyNo} 
		<if test="userNo>0">AND user_no = #{userNo}</if>
		</where>
	</select>
	
	<update id="updateTeamInfo" parameterType="int">
		UPDATE project
		SET project_state=1
		WHERE project_no=#{_parameter}
	</update>
	
	<update id="closingProject" parameterType="Map">
		UPDATE project
		SET project_enddate = to_date(#{endDate}, 'yy/MM/dd')
		WHERE project_no = #{projectNo}
	</update>
	
	<update id="colsedProject" parameterType="int">
		UPDATE project
		SET project_state=2
		WHERE project_no=#{_parameter}
	</update>
	
	<select id="selectTotalScore" resultMap="surveyDetailDTOMap">
		SELECT sd.survey_detail_username, sum(sd.survey_detail_userscore) as survey_detail_userscore
		FROM survey_user su JOIN survey_detail sd
		ON su.survey_user_no = sd.survey_user_no
		AND su.survey_no = #{_parameter} group by sd.survey_detail_username
	</select>
	
	<select id="selectSurveyUserState0" resultMap="surveyUserDTOMap">
		SELECT *
		FROM survey_user
		WHERE survey_user_state = 0 AND survey_no = #{_parameter}
	</select>
	
	<update id="updateXXX" parameterType="map">
		UPDATE survey_detail
		SET survey_detail_userscore = 0;
		WHERE survey_detail_username = #{userName}
		AND survey_no = #{surveyNo}
	</update>
	
</mapper>