<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
	<resultMap type="userDTO" id="userMap">
		<id column="user_no" property="userNo"/>
		<result column="user_id" property="userId" />
		<result column="user_name" property="userName" />
		<result column="user_password" property="userPassword" />
		<result column="user_school" property="userSchool" />
		<result column="user_major" property="userMajor" />
	</resultMap>

	<insert id="insertUser" parameterType="userDTO">
		INSERT INTO ant_user
		VALUES (seq_user_no.nextval, #{userId}, #{userName}, #{userPassword}, #{userSchool}, #{userMajor})
	</insert>

	<!-- ID에 해당하는 정보 검색 -->
	<select id="selectUserById" parameterType="String" resultMap="userMap">
		SELECT user_no, user_id, user_name, user_password, user_school, user_major 
		FROM ant_user
		WHERE user_id = #{_parameter}
	</select>
	

</mapper>