<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.storage.storageMapper">

	<resultMap type="StorageDTO" id="storageMap">
		<id column="storage_no" property="storageNo"/>	
		<result column="project_no" property="projectNo"/>
		<result column="storage_filename" property="fileName"/>
		<result column="storage_filepath" property="filePath"/>
		<result column="storage_filesize" property="fileSize"/>
		<result column="storage_readnum" property="readNum"/>
		<result column="storage_writeday" property="writeDay"/>
		<result column="user_no" property="userNo"/>
		<result column="storage_title" property="storageTitle"/>
		<result column="storage_content" property="storageContent"/>
		<association property="userDTO" javaType="UserDTO">
			<id column="user_no" property="userNo"/>
			<result column="user_id" property="userId"/>
			<result column="user_name" property="userName"/>
			<result column="user_password" property="userPassword"/>
			<result column="user_school" property="userSchool"/>
			<result column="user_major" property="userMajor"/>
		</association>
	</resultMap>
	
	<resultMap type="UserDTO" id="userMap">
		<id column="user_no" property="userNo"/>
		<result column="user_id" property="userId"/>
		<result column="user_name" property="userName"/>
		<result column="user_password" property="userPassword"/>
		<result column="user_school" property="userSchool"/>
		<result column="user_major" property="userMajor"/>
	</resultMap>

	
	<sql id="selectAllculmn">
		s.storage_no,s.project_no,s.storage_filename,s.storage_filepath,s.storage_filesize,s.storage_readnum,s.storage_writeday,s.user_no,s.storage_title,s.storage_content,a.user_name,a.user_no	
	</sql>
	
	<!-- 총 row count  -->
	<select id="totalCount" parameterType="int" resultType="int" >
		select count(storage_no) from storage where project_no=#{_parameter}
	</select>
	
	<!-- 모든 자료 리스트 paging -->
	<select id="selectAllpaging"  resultMap="storageMap" parameterType="map">
		select * from (select rownum as rnum,b.* from (select s.storage_no,s.project_no,s.storage_filename,s.storage_filepath,s.storage_filesize,s.storage_readnum,s.storage_writeday,s.storage_title,s.storage_content,a.user_name,a.user_no	
    from storage s join ant_user a on s.user_no=a.user_no 
    where s.project_no=#{projectNo} order by s.STORAGE_WRITEDAY desc)b)c where c.rnum>=#{startRow} and c.rnum&lt;=#{endRow}
	</select>
	
	<!-- 상세보기 -->
	<select id="selectByStorageNum" parameterType="int" resultMap="storageMap">
		select <include refid="selectAllculmn"></include>
		from storage s,ant_user a  
		where storage_no=#{_parameter}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="readNumUpdate" parameterType="int">
		update storage set storage_readnum = storage_readnum+1 where storage_no=#{_parameter}
	</update>
	
	<!-- 삭제 -->
	<delete id="deleteByStorageNum" parameterType="map">
		delete from storage where storage_no=#{storageNo} and user_no=#{userNo}
	</delete>
	
	<!-- 게시판 글 쓸 때 이름 넣어주기 -->
	<select id="selectUserByUserNo" parameterType="int" resultMap="userMap">
		select user_no,user_id,user_name,user_password
		 from ant_user 
		 where user_no=#{_parameter}
	</select>
	
	<!-- 자료 등록하기 -->
	<insert id="insert" parameterType="StorageDTO">
		insert into storage values(seq_storage_no.nextval,#{projectNo},#{storageTitle},#{storageContent},#{fileName},#{filePath},#{fileSize},0,sysdate,#{userNo})
	</insert>
	
	<!-- 자료 수정 -->
	<update id="update" parameterType="StorageDTO">
		update storage set storage_title=#{storageTitle}, storage_content=#{storageContent}, storage_filename=#{fileName}, storage_filepath=#{filePath}, storage_filesize=#{fileSize}, storage_writeday=sysdate where storage_no=#{storageNo}
	</update>
	
	<!-- 검색 검색 검색 검색 검색 검색 검색 검색 검색 검색 검색 검색 검색 검색 검색 검색 검색 검색 검색 검색 검색 검색 -->
	
	<!-- 이름으로 리스트 검색 -->
	<select id="selectAllByName" parameterType="map" resultMap="storageMap">
		select * from (select rownum as rnum,b.* from (select s.storage_no,s.project_no,s.storage_filename,s.storage_filepath,s.storage_filesize,s.storage_readnum,s.storage_writeday,s.storage_title,s.storage_content,a.user_name,a.user_no	
    from storage s join ant_user a on s.user_no=a.user_no 
    where s.project_no=#{projectNo} and a.user_name like'%'||#{searchText}||'%' order by s.STORAGE_WRITEDAY desc)b)c where c.rnum>=#{startRow} and c.rnum&lt;=#{endRow}
	</select>
	
	<!-- 제목으로 리스트 검색 -->
	<select id="selectAllByTitle" parameterType="map" resultMap="storageMap">
		select * from (select rownum as rnum,b.* from (select s.storage_no,s.project_no,s.storage_filename,s.storage_filepath,s.storage_filesize,s.storage_readnum,s.storage_writeday,s.storage_title,s.storage_content,a.user_name,a.user_no	
    from storage s join ant_user a on s.user_no=a.user_no 
    where s.project_no=#{projectNo} and s.storage_title like'%'||#{searchText}||'%' order by s.STORAGE_WRITEDAY desc)b)c where c.rnum>=#{startRow} and c.rnum&lt;=#{endRow} 
	</select>
	
	<!-- 총 row count 이름으로 -->
	<select id="totalCountByName" parameterType="map" resultType="int" >
		select count(storage_no)
    from storage s join ant_user a on s.user_no=a.user_no 
    where s.project_no=#{projectNo} and a.user_name like'%'||#{searchText}||'%'
	</select>
	
	<!-- 총 row count 제목으로 -->
	<select id="totalCountByTitle" parameterType="map" resultType="int" >
		select count(storage_no) 
    from storage s join ant_user a on s.user_no=a.user_no 
    where s.project_no=#{projectNo} and s.storage_title like'%'||#{searchText}||'%'
	</select>
	
	<!-- 해당하는 조별과제방에 담긴 파일사이즈들의 합검색 -->
	<select id="selectFileSizeAll" parameterType="int" resultType="int">
		SELECT sum(storage_filesize)
		FROM storage
		WHERE project_no = #{_parameter}
	</select>
</mapper>